.profileCont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px; 
    gap: 10px;
}

.proContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: rgb(255, 251, 0); 
    font-weight: bold;
    color: black; 
    text-transform: uppercase;
}

p {
    color: #fff;
    font-size: 13px;
}

.newB {
    padding: 6px 16px;
    background: white;
    border: none;
    font: inherit;
    color: black;
    text-decoration: underline;
    font-size: 14px;
    border-radius: 0 !important;
    cursor: pointer; /* Ensure it's clickable */
    appearance: none; /* Remove browser-specific styling */
    outline: none; /* Remove focus outline */
}

.newB:hover {
    background: orange;
}


.logAccount p {
    color: white;
}
